<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %> | Marina Kreibring | Germany</p>
    <hr>
    <p>Last updated: <span id="updated"></span></p> 
    <a href="https://adler-motors.onrender.com/error">Error Page Demo</a>
    <script>
        document.getElementById("updated").textContent = document.lastModified;
    </script>
</footer>