<!-- content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<!-- show reviews and rating-->
<%- include('../partials/reviews', { reviews, avgRating, reviewCount, inv }) %>
<!--inventory items display-->
<div id="vehicle-detail">
  <%- vehicleHTML %>
</div>

